
body{
	background-color: green;
}
.carta{

	height:  300px;
	width:  200px;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px lightgrey;

}
.numero{
	font-size: 25px;
}
.simbolo
{
	font-size: 25px;
}
.palo
{
	font-size: 80px;
}
#cinco_corazones
{
	position:  relative;
	left:  160px;
	top:  50px;
	color: red;
	transform: rotate(-3deg);
}
#numeracion5corazones_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#cinco_corazones>#palo1
{
	position:  absolute;
	top:  3px;
	left:  25px;
}
#cinco_corazones>#palo2
{
	position:  absolute;
	top:  3px;
	right:  25px;
}
#cinco_corazones>#palo3
{
	position:  absolute;
	top: 95px;
	left:  80px;
}
#cinco_corazones>#palo4
{
	position:  absolute;
	bottom:  3px;
	right:  25px;
	transform: rotate(180deg);
}
#cinco_corazones>#palo5
{
	position:  absolute;
	bottom:  3px;
	left:  25px;
	transform: rotate(180deg);
}

#dos_treboles
{
	position:  absolute;
	left:  350px;
	top:  50px;
	transform: rotate(3deg);
}
#numeracion2treboles_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#dos_treboles>#palo1
{
	position:  absolute;
	top:  3px;
	left:  80px;
	font-size: 80px;
}
#dos_treboles>#palo2
{
	position:  absolute;
	bottom: 3px;
	left:  80px;
	font-size: 80px;
	transform: rotate(180deg);
}


#cuatro_treboles
{
	position:  absolute;
	left:  540px;
	top:  60px;
	transform: rotate(6deg);
}
#numeracion4treboles_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#cuatro_treboles>#palo1
{
	position:  absolute;
	top:  3px;
	left:  25px;
	font-size: 80px;
}
#cuatro_treboles>#palo2
{
	position:  absolute;
	top: 3px;
	right:  25px;
	font-size: 80px;
}
#cuatro_treboles>#palo3
{
	position:  absolute;
	bottom: 3px;
	left:  25px;
	font-size: 80px;
	transform: rotate(180deg);
}
#cuatro_treboles>#palo4
{
	position:  absolute;
	bottom: 3px;
	right:  25px;
	font-size: 80px;
	transform: rotate(180deg);
}


#tres_picas
{
	position:  absolute;
	left:  730px;
	top:  70px;
	transform: rotate(6deg);
}
#numeracion3picas_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#tres_picas>#palo1
{
	position:  absolute;
	top:  3px;
	left:  80px;
	font-size: 80px;
}
#tres_picas>#palo2
{
	position:  absolute;
	top: 95px;
	left:  80px;
	font-size: 80px;
}
#tres_picas>#palo3
{
	position:  absolute;
	bottom: 3px;
	left:  80px;
	font-size: 80px;
	transform: rotate(180deg);
}