body {
	background-color: black;
}

li {
	display: inline;
	background-color: #BBBBBB;
	padding: 10px;
}

a {
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.r4 {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.r3 {
		display: none;
	}
}

@media only screen and (max-width: 480px){
	.r2 {
		display: none;
	}
}