#div_verde {
	position: absolute;
	border: solid green 7px;
	width:  15px;
	padding: 100px;
	left: 320px;
	top: 310px;
}

#div_azul {
	position: relative;
	border: solid blue 7px;
	width:  15px;
	padding: 100px;
	border-radius: 15px;
	top: 40px;
}