img {
	position: absolute;
	top: 50px;
	left:  210px;
}



div {
	position: fixed;
	top: 800px;
	left: 270px;
	width: 1000px;
	height: 35px;
	background-color: greenyellow;
	box-shadow: 0px 0px 3px 3px lightgreen;
}

div>p {
	position: fixed;
	top: 781px;
	left: 730px;
	background-color: green;
	font-size: 23px;
	box-shadow: 0px 0px 2px 2px black;
}

div+p {
	position: absolute;
}